<h1>Edit Broadway Play</h1>

<%= simple_form_for @play, html: {multipart: true} do |f| %>
  <%= f.file_field :play_img %>
  <%= f.select :category_id, @categories   %>
  <%= f.input :title, label:'Play Title' %>
  <%= f.input :director %>
  <%= f.input :description %>
  <%= f.button :submit %>
<% end %>